body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;


}

.header {
  color: white;
  font-family: sans-serif;
  padding: 30px;
  text-shadow: 1px 1px 1px black;
  display: flex;
  justify-content: space-between;
  font-size: 45px;
  font-weight: 700;
  width: 100%;
}

.form {
  width: 400px;
  min-height: 400px;
  background-color: white;
  color: rgb(39, 35, 35);
  text-shadow: 1px 1px 1px rgb(119, 117, 117);
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 2px grey;

}

.form h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.container_form_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_input {
  padding: 7px;
  margin: 5px;
  width: 100%;
  height: 25px;
  border-radius: 3px;
  border: 1px solid rgb(99, 98, 98);
  font-family: sans-serif;


}

.form_button {
  box-sizing: content-box;
  padding: 9px;
  height: 25px;
  width: 25px;
  margin-right: 3px;
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px 1px black;
  background-color: #8e4ae8;
  border: none;
  border-radius: 3px;

}

.form_button:active {
  background-color: rgb(113, 113, 182);
}

.li_button {
  box-sizing: content-box;
  padding: 9px;
  height: 20px;
  width: 20px;
  margin: 3px;
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px 1px black;
  background-color: #f37209;
  border: none;
  border-radius: 3px;
}

.li_button:active {
  background-color: rgb(249, 53, 4);
}

.div_li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;

}

.div_li:hover {
  background-color: rgb(219, 217, 217);
}

ul {
  list-style-image: url(../star.png);
}

p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div_li_buttons {
  display: flex;
}

.check_button {
  background-color: green;
}

.text_decoration {
  text-decoration: line-through;
}

.container_for_form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
}